<div class="container mt-5">

  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="card shadow">
        <div class="card-body text-center">

          <h1 class="display-5 mb-3">
            Welcome
          </h1>

          <p class="lead text-muted">
            Absence Manager frontend test page
          </p>

          <hr>

          <p>
            Angular + Bootstrap UI teszt oldal.
          </p>

          <div class="d-flex justify-content-center gap-3 mt-4">
            <button class="btn btn-primary">
              Login
            </button>
            
            <a href="https://github.com/phoenixbarnabas/absence_manager" target="_blank" class="btn btn-outline-secondary">
              Repository
            </a>
          </div>

        </div>
      </div>
      php -i | findstr /I "openssl.cafile curl.cainfo"php -i | findstr /I "openssl.cafile curl.cainfo"
      php -m | findstr /I "curl openssl"    </div>
  </div>

</div>

