# Dependencies
node_modules/

# Angular
dist/
.angular/
coverage/

# .NET / ASP.NET
bin/
obj/

# IDE
.vscode/
.vs/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Environment / local config
.env
.env.local

# Ignore all Development configs in any project
**/appsettings.Development.json