<div class="booking-card">
  <div class="row g-3">

    <div class="col-12 col-md-6">
      <label class="form-label">Telephely</label>

      <select
        class="form-select"
        [(ngModel)]="selectedLocationId"
        (ngModelChange)="onLocationChange()"
      >
        <option
          *ngFor="let location of (locations$ | async)"
          [value]="location.id"
        >
          {{ location.name }}
        </option>
      </select>
    </div>

  </div>
</div>

<div class="booking-card" *ngIf="(locations$ | async) as locations">
  <div *ngIf="currentLocation$(locations) as loc">
    <strong>Kiválasztott:</strong> {{ loc.name }}
  </div>
</div>