<aside class="sidebar d-flex flex-column">
    <a class="sidebar-header mb-4 py-3" routerLink="/welcome" routerLinkActive="active">
        <div class="logo">PHOENIX pharma</div>
    </a>

    <nav class="sidebar-nav nav flex-column gap-1 px-3">
        <a class="nav-link d-flex align-items-center gap-2" routerLink="/profile" routerLinkActive="active">
            <i class="bi bi-person"></i>
            <span>Profil</span>
        </a>

        <a class="nav-link d-flex align-items-center gap-2" routerLink="/desk-booking" routerLinkActive="active">
            <i class="bi bi-grid-3x2-gap"></i>
            <span>Helyfoglalás</span>
        </a>

        <a class="nav-link d-flex align-items-center gap-2" routerLink="/placeholder" routerLinkActive="active">
            <i class="bi bi-card-list"></i>
            <span>Kérések</span>
        </a>

        <a class="nav-link d-flex align-items-center gap-2" routerLink="/placeholder" routerLinkActive="active">
            <i class="bi bi-shield"></i>
            <span>Admin</span>
        </a>
    </nav>

    <div class="mt-auto"></div>

    <div class="sidebar-user pt-3 mt-3 border-top mb-3 px-3">
        <div class="d-flex align-items-center gap-2">
            <div class="avatar">KP</div>

            <div class="user-meta">
                <div class="user-name">Kiss Pista</div>
                <div class="user-dept">IT</div>
            </div>
        </div>
    </div>
</aside>